html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
}

/* The navigation styles */

nav {
  background: #F7F7F7;
  padding: 0 20%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navigation {
  border-top: 3px solid red;
}

.navigation, .navigation ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: black;
}

.logo {
  width: 10em;
}


.navigation ul {
  flex-basis: 500px;
}

.navigation ul li a{
  text-decoration: none;
}

.navigation ul li a:hover{
  color: red;
}

div.search-bar{
  display: flex;
  align-items: center;
}

img.search{
  width: 2em;
}

/* Header styles */

#header {
  text-align: center;
  max-width: 300px;
  margin: 100px auto 0;
}

/* The image section styles */

.image-section .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.images img {
  height: 400px;
  margin-bottom: 20px;
}

.images img:hover {
  opacity: .5;
}

/* The footer styles */

footer {
  margin: 0 20px;
}

.details-info {
  display: flex;
  justify-content: space-between;
}

.details-info > * {
  flex-basis: 400px;
}

.detail {
  flex-basis: 75%;
}

.detail .layouts {
  display: flex;
  justify-content: space-between;
}

.detail .layouts p {
  flex-basis: 30%;
}