html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
}

/* The navigation styles */

nav {
  background: #F7F7F7;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navigation {
  border-top: 3px solid red;
}

.navigation, .navigation ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: black;
}

.navigation ul{
  padding: 0;
  flex-basis: 220px;
}

.logo {
  width: 4em;
  margin-left: 5px;
}

.navigation ul li a{
  text-decoration: none;
}

.navigation ul li a:hover{
  color: red;
}

div.search-bar{
  display: flex;
  align-items: center;
}

img.search{
  width: 2em;
}

/* Header styles */

#header {
  text-align: center;
  max-width: 300px;
  margin: 100px auto 0;
  color: #4A4A4A;
}

/* The image section styles */

.image-section .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.images img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  transition: opacity .3s;
  border-radius: 3px;
}

.images img:hover {
  opacity: .5;
}

/* The footer styles */

footer {
  margin: 0 20px;
  color: #4A4A4A;
}

.details-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.details-info > * {
  flex-basis: 400px;
  flex-shrink: 1;
}

.announcement h2 {
  color: red;
}

.announcement a{
  color: black;
  text-decoration: none;
}

.announcement a:hover {
  color: red;
}


.detail {
  flex-basis: 100%;
}

.detail h2 {
  text-align: center;
}

.detail .layouts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.detail .layouts p {
  flex-basis: 100%;
}

@media screen and (min-width: 1024px) {
  nav {

  }

  .navigation {
    width: 80%;
    margin: 0 10%;
  }

  .images img {
    height: 250px;
    width: auto;
  }

  .logo {
    width: 10em;
  }

  .navigation ul {
    flex-basis: 500px;
  }

  .details-info {
    flex-wrap: nowrap;
  }

  .detail h2 {
    text-align: left;
  }

  .details-info {
    flex-wrap: nowrap;
  }

  .detail {
    flex-basis: 75%;
  }

  .detail .layouts p {
    flex-basis: 30%;
  }
}

@media screen and (min-width: 1440px) {
  .images img {
    height: 400px;
  }
}